<a style="cursor:pointer;" class="list-group-item clearfix" [routerLink]="[employee.id]" routerLinkActivate="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{employee.firstName}}</h4>
    <p class="list-group-item-text">{{employee.lastName}}</p>
  </div>
  <span class="pull-right">
    <img
      [src]="employee.imagePath" alt="" class="img-responsive"
      style="max-height:50px">
    
    <p class="list-group-item-text" style="text-align: center">{{employee.id}}</p>
  </span>
</a>