<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="{{employee.id}}" style="max-height: 200px">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <Label for="firstName">First Name</Label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="id">Employee Id</label>
            <input type="text" id="id" class="form-control" formControlName="id">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" id="department" class="form-control" formControlName="department">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" id="gender" class="form-control" formControlName="gender">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image Url</label>
              <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>