<div class="row">
  <div class="col-xs-12">
    <img [src]="employee.imagePath" alt="{{employee.id}}" style="max-height: 200px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{employee.firstName}} {{employee.lastName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p> <label>Employee Id</label> {{employee.id}}</p>
    <p> <label>Department</label> {{employee.department}}</p>
    <p> <label>Gender</label> {{employee.gender}}</p>
    <p> <label>Date Of Birth</label> {{employee.dateOfBirth}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Employee <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor:pointer;" (click)="onEdit()">Edit Employee Details</a></li>
        <li><a style="cursor:pointer;" (click)="onDelete()">Delete Employee</a></li>
      </ul>
    </div>
  </div>
</div>